.general_statistic {
    max-width: 900px;
    color: $main_color_letters;
    font-size: 17px;
    font-weight: 700;
    line-height: 34px;

    .general_text {
        border-bottom: 1px solid $border_color;

        .general_nr {
            float: right;
            font-weight: 500;
            color: rgb(51, 51, 51);
        }
    }
}

.chart {
    max-width: 900px;
    margin-top: 45px;
    padding-bottom: 30px;

    .chart_header {
        color: $main_color_letters;
        margin-left: 25px;
        font-size: 18px;
        padding-bottom: 40px;
    }
}

.links {
    padding-bottom: 10px;
}