/*-----Header-----*/
header {
    width: 100%;
    position: fixed;
    border-bottom: 1px solid $border_color;
    background-color: $white_color;
    display: flex;
    justify-content: flex-end;
    top: 0;
    left: 0;

    .top_bar {
        display: flex;
        align-items: center;

        .top_item {
            display: flex;
            position: relative;
            border-left: 1px solid $border_color;

            .btn_top {
                background: none;
                cursor: pointer;
                color: $main_color_letters;
                border: none;
                height: 60px;
                padding: 0 22px;
                align-items: center;
                justify-content: center;
                font-family: $main_font;
                transition: .3s;
                display: block;

                &:hover {
                    background-color: $background_gray;
                }

                .icon-wallet {
                    font-size: 17px;
                }

                .icon-amount {
                    font-size: 20px;
                    font-weight: 500;
                    margin: 0 12px;
                }

                .icon-notification {
                    font-size: 18px;
                }

                .dot-notification {
                    width: 9px;
                    height: 9px;
                    right: 20px;
                    top: 16px;
                    border-radius: 50%;
                    position: absolute;
                    background-color: $main_orange_color;
                }

                .icon-profile {
                    font-size: 16px;
                    padding-right: 14px;
                }

                .icon-name {
                    font-size: 15px;
                    line-height: 60px;
                }

                .icon-quit {
                    font-size: 22px;
                }
            }
        }
    }
}